{% extends 'base.html' %}

{% block main_area %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{ user.username }}'s 아침일기 {{diary.dt_modified}}</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a href="{% url 'diary-write' %}"><button type="button" class="btn btn-sm btn-outline-secondary">글쓰기</button></a>
				<a href="{% url 'friends-diary' request.user.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">친구일기</button></a>
			</div>
			<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<span data-feather="calendar"></span>
				This week
			</button>
		</div>
	</div>
  <div class="row">
		<div class="container body-content">
			<div class="container">
				<div class="row justify-content-start" style="padding-top:10px;">
					<div class="col-12 col-md-6" style="padding-top:10px;">
						<div class="row justify-content-center diary-content" style="padding-top:10px;">
							<h5>아침에 대답해야하는 내용</h5>
						</div>
						<div class="row justify-content-center diary-content" style="padding-top:10px;">
							<h6 class="ms-3">내가 감사하게 여기는 것들</h6>
							<ol>
								{% for thanks in thanks_list %}
								<p><li class="ms-5">{{ i }} {{ thanks }}</li></p>
								{% endfor %}
							</ol>
							<h6 class="ms-3">오늘을 기분 좋게 만드는 것은?</h6>
							<ol>
								{% for feelgood in feelgood_list %}
								<p><li class="ms-5">{{ i }} {{ feelgood }}</li></p>
								{% endfor %}
							</ol>
							<h6 class="ms-3">오늘의 다짐</h6>
							<ol>
								{% for promise in promise_list %}
								<p><li class="ms-5">{{ i }} {{ promise }}</li></p>
								{% endfor %}
							</ol>
						</div>
					</div>
					<div class="col-12 col-md-6" style="padding-top:10px;">
						<div class="row justify-content-center diary-content" style="padding-top:10px;">
							<h5>밤에 써야하는 내용</h5>
						</div>
						<div class="row justify-content-center diary-content" style="padding-top:10px;">
							<h6 class="ms-3">오늘 있었던 굉장한 일 3가지</h6>
							<ol>
								{% for donegood in donegood_list %}
								<p><li class="ms-5">{{ i }} {{ donegood }}</li></p>
								{% endfor %}
							</ol>
							<h6 class="ms-3">오늘을 어떻게 더 좋은 날로 만들었나?</h6>
							<ol>
								{% for makegood in makegood_list %}
								<p><li class="ms-5">{{ i }} {{ makegood }}</li></p>
								{% endfor %}
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% comment %} <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> {% endcomment %}

	{% comment %} <h2>Section title</h2>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Header</th>
					<th scope="col">Header</th>
					<th scope="col">Header</th>
					<th scope="col">Header</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1,001</td>
					<td>random</td>
					<td>data</td>
					<td>placeholder</td>
					<td>text</td>
				</tr>
				<tr>
					<td>1,002</td>
					<td>placeholder</td>
					<td>irrelevant</td>
					<td>visual</td>
					<td>layout</td>
				</tr>
				<tr>
					<td>1,003</td>
					<td>data</td>
					<td>rich</td>
					<td>dashboard</td>
					<td>tabular</td>
				</tr>
				<tr>
					<td>1,003</td>
					<td>information</td>
					<td>placeholder</td>
					<td>illustrative</td>
					<td>data</td>
				</tr>
				<tr>
					<td>1,004</td>
					<td>text</td>
					<td>random</td>
					<td>layout</td>
					<td>dashboard</td>
				</tr>
				<tr>
					<td>1,005</td>
					<td>dashboard</td>
					<td>irrelevant</td>
					<td>text</td>
					<td>placeholder</td>
				</tr>
				<tr>
					<td>1,006</td>
					<td>dashboard</td>
					<td>illustrative</td>
					<td>rich</td>
					<td>data</td>
				</tr>
				<tr>
					<td>1,007</td>
					<td>placeholder</td>
					<td>tabular</td>
					<td>information</td>
					<td>irrelevant</td>
				</tr>
				<tr>
					<td>1,008</td>
					<td>random</td>
					<td>data</td>
					<td>placeholder</td>
					<td>text</td>
				</tr>
				<tr>
					<td>1,009</td>
					<td>placeholder</td>
					<td>irrelevant</td>
					<td>visual</td>
					<td>layout</td>
				</tr>
				<tr>
					<td>1,010</td>
					<td>data</td>
					<td>rich</td>
					<td>dashboard</td>
					<td>tabular</td>
				</tr>
				<tr>
					<td>1,011</td>
					<td>information</td>
					<td>placeholder</td>
					<td>illustrative</td>
					<td>data</td>
				</tr>
				<tr>
					<td>1,012</td>
					<td>text</td>
					<td>placeholder</td>
					<td>layout</td>
					<td>dashboard</td>
				</tr>
				<tr>
					<td>1,013</td>
					<td>dashboard</td>
					<td>irrelevant</td>
					<td>text</td>
					<td>visual</td>
				</tr>
				<tr>
					<td>1,014</td>
					<td>dashboard</td>
					<td>illustrative</td>
					<td>rich</td>
					<td>data</td>
				</tr>
				<tr>
					<td>1,015</td>
					<td>random</td>
					<td>tabular</td>
					<td>information</td>
					<td>text</td>
				</tr>
			</tbody>
		</table> {% endcomment %}
	</div>
</main>
{% endblock main_area %}