{% extends 'diary/base.html' %}
{% load static %}

{% block css %}
<link href={% static 'friends/css/friends.css' %} rel="stylesheet">
{% endblock css %}

{% block main_area %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{ username }}'s Friends</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a href="{% url 'friends' user.username %}"><button type="button" class="btn btn-sm btn-outline-secondary">친구목록</button></a>
				<a href="{% url 'add-friends' user.username %}"><button type="button" class="btn btn-sm btn-outline-secondary">친구추가</button></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-fluid col-md-6">
				<p style="font-size: 15px;">내 수락을 기다리는 친구들<p>
				<p style="font-size: small;">파달 11.24.2021</p>
			</div>
			<div class="col-fluid col-md-6">
				<p style="font-size: 15px;">내가 요청한 친구 신청<p>
				<p style="font-size: small;">bbang2 11.24.2021</p>
			</div>
		</div>
	</div>
		
</main>
{% endblock main_area %}